* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --ff-header: 'Staatliches', cursive;
    --ff-loren: 'Palanquin', sans-serif;

    --bg-header:rgba(142, 154, 175, 1);
    --bg-scream:rgba(203, 192, 211, 1);
    --bg-main: rgba(239, 241, 255, 1);
    --bg-h2:rgba(254, 234, 250, 1);
}

body{


    width: 384px;
    margin: 0 auto;

    text-align: center;

  
}

header{
    background-color: var(--bg-header);
    padding-bottom: 29px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.logo{
    margin: 32px auto;
}

.scream{
    background-color: var(--bg-scream);

    font-family: var(--ff-header);
    font-weight: 400;
    font-size: 4rem;

    color:rgba(255, 255, 255, 1);
    
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

main {
    background-color: var(--bg-main);
    padding-top: 1.4rem;
    padding-bottom: 2.4rem;
}

p {
    margin: 0 auto 6.3rem;
    width: 30.5rem;

    font-family: var(--ff-loren);
    font-size: 1.2rem;
    line-height: 1.5rem;

}

img {
    border-radius: 2rem;

    margin-bottom: 3.6rem;

}


.card{
   position: relative;
}

.card h2{
    border-radius: 2.0rem;
    background-color: var(--bg-h2);
    width: 11.2rem;
    height: 3.5rem;

    font-family: var(--ff-header);
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 3.4rem;

    letter-spacing: 0.05em;

    color: rgba(74, 78, 105, 1);

    position: absolute;

    padding-top: 0.1rem;
    

    top: 1.7rem;
    left: 22.2rem;

}